{{ ansible_managed | comment }}

{% for name, value in locales_default_locales_list | dictsort %}
{%   if name | upper in locales_variables_list %}
{{ name | upper }}={{ value }}
{%   endif %}
{% endfor %}
